.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(112, 24, 24);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  background-color: hsl(111, 82%, 63%);

}
root {
  --dark: #a6ec91;
  --medium: #112a7a;
  --dark1: #8b8586;
  --medium1: #DBECE3ED;
  --light: #a3acaa;
  --highlight: firebrick;
  --white: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
}

.container {
 
  background: linear-gradient(
    to bottom right,
    var(--medium1),
    var(--dark1)
  );
}

img {
  max-width: 100%;
}