
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;

} 


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

header  {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url('./utils/images/pretty_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  position: sticky;
  /* opacity: 80%; */
}

.background {
padding: 300px; 
}

.mx-1 {
  list-style-type: none;
  display: inline;
  font-size: 25px;
}

a:-webkit-any-link {
  text-decoration: none;
}
